body {
    font-family: 'Josefin Sans', 'Open Sans', sans-serif;
    background:
        linear-gradient(black, rgba(255, 255, 255, 0)),
        url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

#mainDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20vh 0vh 0vh;
}

#Temp {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    margin: 0;
    position: relative;
}

#degreeSymbol {
    position: absolute;
    left: 100%;
    top: -15%;
    font-size: 0.75em;
}

#currentTemp {
    position: relative;
    
}

p {
    color: white;
}

#maxTemp,
#minTemp {
    font-size: 1.4em;
    margin: 0;
}

#otherStuff {
    display: flex;
    position: relative;
}